@font-face{
	font-family: PrimeReg;
	src: url("./Prime Regular.woff");
}
@font-face{
	font-family: PrimeLight;
	src: url("./Prime Light.woff");
}


body {
  background: rgb(54,57,62);
  margin: 0;
  padding: 0;
  min-width: 800px;
}




.projects{
	top: 200px;
}

.info{
	height: 200px;
	
}

.indexNav{
	
	position: relative;
	top: 0;
	width: auto;
	

	z-index: 999;
	margin-top: 0px;


	
	
}

	
.nav{
	color: black;
	float: left;
	font-size: 20px;
	letter-spacing: 0px;
	position:  relative;
	


	
	
	
	text-transform: capitalize;
	font-family: PrimeLight;
	
	
	
	
	
}
.title{
	display: block;
	color: #FF3A59;
	font-family: PrimeLight;
	margin-right:  10px;

	
}

.navLink{
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 18px;
	
	
	
	

}
.navLink:visited{
	color:  white;
}
.navLink:hover{
	border-bottom: solid;
	border-bottom-color: rgb(150,152, 167);
	padding-bottom: 1px;
}

.navList{
	display: block;
	padding-bottom: 22px;
	
}




}
.game-maze{
	width: 100%;
	display: inline-block;
	

}

 .game-maze .mazeimg{
 	width: 40%;
 	height: 100%;
 	float left;
}

.game-maze .mazeimg img{
	display: block
	height auto;
	max-width: 100%;
}

.game-maze .mazetext p{
	
	
	
	margin: 0;
	padding: 0;
	display: block;
}
.game-maze .mazetext {
	float: right;
	width: 50%;
	height:  auto;
	font-size: 25px;
	font-weight: bold;
	padding: 20px 10px 0px 35px;
	color: white;
	font-family: PrimeReg;


}
.gameInfo .head{
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;

	
}
.gameInfo{
	font-size: 15px;
	font-family: PrimeReg;


}
.gameInfo ul{
	padding-left:  0;

}
.gameInfo li{
margin-left: 1em;
}

.mazetext .desc{
	font-size: 20px;
	font-weight: 50px;
	margin-left: 10px;
	text-align: center;
	display: block;
	float: right;
	width: 50%;
}

.contact{
	font-family: PrimeReg;
	float: right;
	color: rgb(150,152, 167);
	font-size: 25px;
	display: block;
	
	text-align: center;

}